<div class="banner">
  <div class="container">
    <!--- img-slider --->
    <div class="img-slider">
      <!----start-slider-script---->
      <script>
        // You can also use "$(window).load(function() {"
        $(function () {
          // Slideshow 4
          $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
              $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
              $('.events').append("<li>after event fired.</li>");
            }
          });

        });
      </script>
      <!----//End-slider-script---->
      <!-- Slideshow 4 -->
      <% if @slides.present? %>
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
          <% @slides.each do |slide| %>
          <li>
            <%= image_tag(slide.image.url, :class => 'img-responsive banner-image') %>
            <div class="slider-caption">
              <h1><%= slide.name %></h1>
              <p><%= slide.description %></p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="clearfix"> </div>
    </div>
    <!-- slider -->
  </div>
</div>