<div class="header">
  <!-- top-header -->
  <div class="top-header">
    <div class="container">
      <div class="rigister-info">
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">SignUp</a></li>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- /top-header -->
  <!-- bottom-header -->
  <div class="bottom-header">
    <div class="container">
      <div class="bottom-header-left">
        <p>The Finest Genuine Leather meet with Ingenious  Craftsmen Shoes </p>
      </div>
      <div class="logo">
        <%= link_to image_tag('logo.png', :alt => 'logo'), '/' %>
      </div>
      <div class="bottom-header-right">
        <ul>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="#">Checkout</a></li>
        </ul>
        <div class="search-cart">
          <div class="search-box">
            <form>
              <input type="text" value="Search..." />
              <input type="submit" value="" />
            </form>
          </div>
          <div class="cart-box">
            <select>
              <option> 02 Items</option>
              <option> 03 Items</option>
              <option> 04 Items</option>
            </select>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /bottom-header -->
</div>