<div class="banner">
  <div class="container">
    <!--- img-slider --->
    <div class="img-slider">
      <!----start-slider-script---->
      <script src="web/js/responsiveslides.min.js"></script>
      <script>
        // You can also use "$(window).load(function() {"
        $(function () {
          // Slideshow 4
          $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
              $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
              $('.events').append("<li>after event fired.</li>");
            }
          });

        });
      </script>
      <!----//End-slider-script---->
      <!-- Slideshow 4 -->
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
          <li>
            <%= image_tag('slide1.jpg', :class => 'img-responsive') %>
            <div class="slider-caption">
              <h1>Beautiful & durable</h1>
              <p>Classically simple and beautifully elegant Hard wearing leather shoes and hand-made with heart </p>
            </div>
          </li>
          <li>
            <%= image_tag('slide1.jpg') %>
            <div class="slider-caption">
              <h1>Beautiful & durable</h1>
              <p>Classically simple and beautifully elegant Hard wearing leather shoes and hand-made with heart </p>
            </div>
          </li>
          <li>
            <%= image_tag('slide1.jpg') %>
            <div class="slider-caption">
              <h1>Beautiful & durable</h1>
              <p>Classically simple and beautifully elegant Hard wearing leather shoes and hand-made with heart </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- slider -->
  </div>
</div>