<div class="bottom-grids collections">
  <div class="container">
    <h1>Your Cart</h1>
    <div class="row">
      <div class="col-md-8  col-md-offset-2">
        <%= render "shared/user/message" %>
      </div>
    </div>
  </div>
</div>